html, body{
    position: relative;
    height: 100%;
    min-height: 100vh;
}

.space{
    min-height: 100vh;
    background-color: #f6f6f6;
}

.navBarStyle{
    border-bottom: #1d1c26 solid 2px;
    padding: .3em 1em;
    position: sticky;
    top: 0;
    z-index: 99;
    font-weight: 700;
}

.navLink{
    font-family: 'Mulish', 'sans-serif';
    font-weight: 600;
    text-decoration: none;
    color: #707070;
    margin: 0em;
}

.navLinkFooter{
    font-family: 'Mulish', 'sans-serif';
    font-weight: 600;
    text-decoration: none;
    color: #707070;
    margin: 0em;
    padding: .2em 1.3em;
    width: 100%;
    display: inline-block;
}

.activeLink{
    display: grid;
    align-content: center;
    padding: .5em 0em;
    margin: 0em;
}

.writtenTitle{
    font-family: 'Playfair Display', 'serif';
    font-weight: 600;
    font-size: 3em;
    max-width: 500px;
}

.writtenTitleQuiz{
    font-family: 'Playfair Display', 'serif';
    font-weight: 600;
    font-size: 3em;
}

.contactTitle{
    font-family: 'Playfair Display', 'serif';
    font-weight: 600;
    font-size: 3em;
    max-width: 500px;
    color: #f6f6f6;
}

.logo{
    text-decoration: none;
    font-family: 'Playfair Display', 'serif';
    font-size: 1.5em;
    font-weight: 900;
    margin: 0em 1em;
    color: #1d1c26;
}

.description-primary{
    font-size: 1.25em;
    margin: 1.5em 0em;
    max-width: 500px;
    font-weight: 400;
}

.pagePhotos{
    min-width: 70%;
    max-width: 90%;
    margin: 2em 1em;
}

.pagePhotos-second{
    min-width: 30%;
    max-width: 60%;
    margin: 1em auto;
}

.activeArea:hover{
    background-color: #164651;
    transform: scale(1.1);
    transition: 0.4s;
}

.contentMenu{
    text-align: center;
}

.order{
    border-radius: 2em;
    padding: 1em 2em;
}

.btn-private{
    padding: 0.5em 1.5em;
    border-radius: 2em 0em 0em 2em;
    background-color: #1f6373;
    font-weight: 700;
    border: #164651 solid 1px;
    margin: 0px;
    color: #f6f6f6;
}

.btn-private:hover{
    background-color: #164651;
    transform: scale(1.05);
    transition: 0.5s;
}

.btn-cart{
    border-radius: 2em;
    padding: 0.5em 0.8em;
    background-color: #1f6373;
    border: #164651 solid 1px;
    margin: 0px;
}

.btn-cart:hover{
    background-color: #164651;
    transform: scale(1.05);
    transition: 0.5s;
}

.btn-quiz{
    width: 100%;
    padding: 0.5em 1.5em;
    border-radius: 2em;
    background-color: #f6f6f6;
    font-weight: 700;
    border: #000 solid 1px;
    margin: 0px;
    color: #1d1c26;
}

.btn-quiz:hover{
    background-color: #1d1c26;
    color: #f6f6f6;
    transition: 0.2s;
}

.btn-next{
    padding: 0.5em 1.5em;
    border-radius: 2em;
    background-color: #f6f6f6;
    font-weight: 700;
    border: #000 solid 1px;
    margin: 0px;
    color: #1d1c26;
}

.btn-next:hover{
    background-color: #1d1c26;
    color: #f6f6f6;
    transition: 0.2s;
}

.icon{
    width: 1em;
    margin: 0px;
}

.socialIcon{
    width: 1.8em;
    margin: 0em;
    border: #b8b8b8 solid 1px;
    border-radius: .3em;
    padding: .2em;
    background-color: #d4d4d4;
}

.pageContent{
    padding: 2em 0em;
    display: grid;
    align-content: center;
}

.footer{
    padding: 2em 2em;
}

.footerLink{
    margin: .5em 0em;
    border: #d6d6d6 solid 1px;
    border-radius: 2em;
    scale: 80%;
    padding: .5em 0em;
    text-align: center;
}

.footerLink:hover{
    border: #1f6373 solid 1px;
}

.row{
    background-color: #f6f6f6;
    font-family: 'Mulish', 'sans-serif';
}

hr{
    height: 1px;
    border-width: 0;
    color:#1d1c26;
    background-color:#1d1c26;
    opacity: 0.8;
}

.bookContent{
    background-color: #1f6373;
    color: #f6f6f6; 
    text-align: center;
    padding: 1em 0em;
    position: relative;
}

.priceLabel{
    display: grid;
    align-content: end;
}

.contactInput{
    width: 100%;
    padding: .8em;
    border-radius: .3em;
    border: #d6d6d6 solid 1px;
    resize: none;
    margin: .5em 0em;
    background-color: rgba(0, 0, 0, 0);
    color: #1d1c26;
    font-weight: 600;
    outline: none;
}

.contactInput:focus{
    border: #1f6373 solid 1px;
}

.contactSection{
    background-color: #f6f6f6;
    padding: 1em 0em;
}

.borderBox{
    background-color: #e7e6e6;
    border-radius: .5em;
    box-shadow: 0px 0px 10px #6e6e6e;
    display: flex;
    scale: 95%;
    padding: 2em 0em;
}

.contactButtons{
    background-color: #e7e6e6;
    text-align: center;
    padding: 1.5em 0em;
    border-radius: .5em;
    border: #d6d6d6 solid 1px;
}

.socialBox{
    background-color: #e7e6e6;
    padding: .5em 0em;
}

.formSection{
    background-color: #e7e6e6;
    color: #1d1c26;
    font-weight: 600;
    padding: 0.5em 0em;
}

.quizContent{
    text-align: center;
    display: flex;
    padding: 2em 0em;
}

.emptySpace{
    background-color: #e7e6e6;
    padding: 0em;
    margin: 0em;
}

.policiesBox{
    padding: 1.5em 0em;
}

.quizSeparator{
    margin: 1em 0em;
}

.explanaitionBox{
    border: 2px solid #1d1c26;
    border-radius: 2em;
    padding: 2em;
    text-align: left;
}

.nextBox{
    width: 100%;
    text-align: right;
    margin: 1em 0em;
}

.nextBoxInside{
    width: 100%;
    text-align: right;
    margin: 0em;
}

::placeholder{
    color: #777676;
    font-weight: 700;
}

textarea::-webkit-scrollbar {
    width: .15em;
    border-radius: 2em;
}
 
textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
}
 
textarea::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

.quizBox{
    border: 1px solid #1d1c26;
    border-radius: 2em;
    background-color: rgba(31, 99, 115, 0.3);
    padding: 1em 0em;
    margin: 2em 0em;
    scale: 90%;
    backdrop-filter: blur(3px);
    box-shadow: 0px 0px 10px #6e6e6e;
}

.quizBox:hover{
    transition: 0.5s;
    background-color: rgba(22, 70, 81, 0.3);
    box-shadow: 0px 0px 20px #6e6e6e;
}

.activePane{
    cursor: pointer;
    padding: 0em 0em 1em 0em;
}

.description-primary{
    font-size: 1.5em;
    max-width: 500px;
    font-weight: 400;
}